{{!-- Footer Page --}}
<footer id="footer" class="footer">
  <div class="footer-wrap">
    <div class="copy">&copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a> - Todos los derechos reservados.</div>
    <div class="by">
      Alojado en <a href="https://m.do.co/c/d6e710900090">&nbsp DIGITALOCEANS</a>
    </div>
  </div>
</footer>
<div class="overlay"></div>
