{{!-- Add Layout --}}
{{!< default}}
{{!-- Add Error Page 404 --}}
<div id="error" class="error u-align-center">
    <div class="error-wrap">
      <div class="error-text">404</div>
      <p>Oops! Lamentablemente no hemos encontrado lo que buscas.</p>
    </div>
</div>
